@media  screen and (max-width: 2560px){
        .sliderwrap div:nth-child(1){
            margin-right: auto;
            margin-left: auto;
        }
    .image-topwrap a{
        position: absolute !important;
        top: 23% !important;
    }

    .peoplewrap div:nth-child(1){
        margin-left: auto;
        margin-right: auto;
    }
    .slidercount{
        position: absolute;
        left: 49%;
        top: 119%;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: #9e9e9e;
        font-weight: bold;
    }
    .article-hover{
        background-color: rgba(0, 0, 0, 0.4);
        width: 96%;
        height: 61%;
        position: absolute;
        top: 0;
        left: 2%;
        outline: 10px solid #96989a;
        outline-offset: -10px;
        background-image: url(../image/bxarrows/bloghover.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media screen and (max-width: 1440px){
    .sliderwrap div:nth-child(1){
        width: 92.9%;
        margin-right: auto;
        margin-left: auto;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 187px;
    }
    .sliderwrap a:nth-child(2){
        right: -2%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(1){
        left: -2%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .peoplewrap{
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .slidercount{
        position: absolute;
        left: 48.5%;
        top: 119%;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: #9e9e9e;
        font-weight: bold;
    }
    .article h4{
        font-size: 17px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 17px;
    }
    .footermenuwrap{
        padding-top: 10%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 82%;
        top: 74%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
}

@media  screen and ( min-width: 1280px)and (max-width: 1366px) {
    .menu-top li {
        display: inline-block;
        padding: 0 15px;
        color: #2c3e50;
        font-variant: all-small-caps;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .slider-intro h2 {
        font-size: 65px;
        font-family: Montserrat, sans-serif;
        color: white;
        font-weight: bold;
        margin-bottom: 65px;
    }

    .image-topwrap a {
        position: absolute !important;
        top: 34% !important;
    }
    .wrap-top {
        margin-top: 220px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .location {
        width: 400px;
        height: 50px;
        margin-right: 31px;
        background-image: url(../image/map.png);
        background-repeat: no-repeat;
        background-position: 20px;
        border: 1px solid #f0f0f0;
    }

    .guest {
        width: 240px;
        height: 49px;
        margin-right: 29px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }

    .room {
        width: 240px;
        height: 49px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }

    .searchform-topwrap ul:nth-child(2) {
        padding: 0 65px;
    }

    .checkin {
        width: 274px;
        height: 49px;
        margin-right: 31px;
        border: 1px solid #f0f0f0;
        background-color: white;
    }

    .checkout {
        width: 274px;
        height: 49px;
        margin-right: 0px;
        border: 1px solid #f0f0f0;
        background-color: white;
    }
    .slidercount {
        position: absolute;
        left: 48.4%;
        top: 119%;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: #9e9e9e;
        font-weight: bold;
    }
    .article h4 {
        font-size: 15px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 17px;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 82%;
        top: 73%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 160px;
    }
    .articleimg img {
        width: 100%;
        height: 84%;
    }

    .article-hover {
        background-color: rgba(0, 0, 0, 0.4);
        width: 96%;
        height: 52%;
        position: absolute;
        top: 0;
        left: 2%;
        outline: 10px solid #96989a;
        outline-offset: -10px;
        background-image: url(../image/bxarrows/bloghover.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    #search {
        width: 274px;
        height: 49px;
        background-image: url(../image/searchbutton.png);
        background-repeat: no-repeat;
        background-position: 70px;
        border: none;
        background-color: #4588f2;
        color: #ffff;
        font-family: Montserrat, sans-serif;
        border-radius: 5px;
        margin-left: 114%;
        margin-right: 113%;
        margin-top: 20px;
    }

    .sliderwrap div:nth-child(1) {
        width: 98.7%;
        margin-right: auto;
        margin-left: auto;
    }
    .sliderwrap a:nth-child(2) {
        right: -3%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(1) {
        left: -3%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .peoplewrap {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .text {
        text-align: center;
        padding: 0 50px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: #777777;
        font-size: 15px;
        line-height: 18px;
    }
    .newsletter {
        position: relative;
        width: 300px;
    }
    .newsletter input {
        height: 17%;
        width: 97%;
    }
    .newsletter button {
        width: 71px;
        height: 48px;
        position: absolute;
        left: 74%;
        background-color: #0089f6;
        border: none;
        color: #ffff;
        font-size: 12px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
    }
    .contact{
        width: 285px;
    }
    .contact li {
        margin-bottom: 5%;
        width: 100%;
    }
    .patners img {
        padding-top: 67px;
        padding-bottom: 10%;
        padding-right: 54px;
    }
}

@media screen and (max-width: 1024px) {
    /*mobile-menu*/
    .contactwrap {
        display: none;
    }

    .logo-topwrap {
        display: none !important;
    }

    .mobile-menu img {
        float: right;
    }

    .mobile-logo img {
        padding: 5px 10px;
    }

    hr {
        display: none;
    }

    .logo-topwrap {
        width: 100px;
        display: block;
        justify-content: unset;
        width: 135px;
    }
    .wrap-top {
        margin-top: 220px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .mobile-menuwrap {
        height: 100vh;
        width: 100%;
        display: none;
    }

    .mobile-menu {
        margin-top: 20px;

    }

    .mobile-menu ul {
        padding: 0 10px;
    }

    .mobile-menu li {
        padding: 17px 55px;
        color: #2c3e50;
        font-variant: all-small-caps;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        border: 1px solid rgba(182, 183, 185, 0.61);
        margin-bottom: 1px;
        text-decoration: none;
        color: #34495e;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #34495e;
    }

    .mobile {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .menubtnshow {
        background: initial;
        border: none;
        background-image: url(../image/mobilemenu.png);
        width: 30px;
        height: 25px;
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .menubtnhide {
        background: initial;
        border: none;
        background-image: url(../image/backarrow.png);
        width: 30px;
        height: 25px;
        position: absolute;
        top: 18px;
        right: 10px;
        display: none;
    }

    .mobile-menuheadwrap {
        display: initial;
    }

    .mobile-menuwrap {
        display: none;
    }
    .singup-form {
        width: 24%;
        position: absolute;
        left: 40%;
        z-index: 99999;
        background-color: rgba(69, 136, 242, 0.81);
        border-radius: 2%;
        padding-bottom: 25px;
        margin-top: 52px;
        display: none;
    }

    /*end mobile menu*/
    .slider-intro h2 {
        font-size: 51px;
        font-family: Montserrat, sans-serif;
        color: white;
        font-weight: bold;
        margin-bottom: 61px;
    }

    .searchform-topwrap {
        width: 94%;
        background-color: #ffff;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        position: absolute;
        left: 3%;
        top: -252px;
        border-radius: 2px;
        box-shadow: 0 5px 6px 0 #c0c0c0;
    }

    .searchform-topwrap li {
        display: block;
    }

    .search-top {
        width: 100%;
    }

    .search-top li {
        padding: 0 100px;
    }

    .search-top li:nth-child(2) {
        display: inline-block;
        padding-right: 0;
    }

    .search-top li:nth-child(3) {
        display: inline-block;
        padding-left: 0;
    }

    .location {
        width: 100%;
        padding: 0 56px;
        margin-bottom: 15px;
    }

    .guest {
        width: 378px;
        height: 49px;
        margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }

    .room {
        width: 378px;
        height: 49px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }

    .search-bottom {
        width: 100%;
        padding: 0 100px;
    }

    .checkin {
        width: 370px;
        margin-right: 0;
    }

    .duration {
        width: 388px;
        height: 49px;
        margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/moon.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }

    .checkout {
        width: 368px;
        margin-right: 0;
    }

    #search {
        width: 274px;
        height: 49px;
        background-image: url(../image/searchbutton.png);
        background-repeat: no-repeat;
        background-position: 70px;
        border: none;
        background-color: #4588f2;
        color: #ffff;
        font-family: Montserrat, sans-serif;
        border-radius: 5px;
        margin-left: 104px;
    }

    .search-bottom li:nth-child(1) {
        display: inline-block;
        width: 370px;
    }

    .search-bottom li:nth-child(2) {
        display: inline-block;
        padding-bottom: 15px;
        width: 300px;
    }

    .search-bottom li:nth-child(3) {
        display: inline-block;
        width: 378px;
    }

    .search-bottom li:nth-child(4) {
        display: inline-block;
        width: 300px;
    }
    .sliderwrap a:nth-child(2) {
        right: -4%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(1) {
        left: -4%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .like {
        width: 45px;
        height: 45px;
        background-color: #dde6f2;
        position: absolute;
        left: 82%;
        top: 72%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 14px;
        background-size: 17px;
        z-index: 99999;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 107px;
    }
    .hoverroom {
        background-color: rgba(0, 0, 0, 0.51);
        position: absolute;
        top: 0;
        width: 100%;
        height: 80%;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 12px;
    }
    .more-ap {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .bx-wrapper .bx-next {
        right: 43%;
        background-image: url(../image/bxarrows/arrownext.png);
        background: url(../image/bxarrows/arrownext.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .bx-wrapper .bx-prev {
        left: 45%;
        background: url(../image/bxarrows/arrowprev.png);
        background-image: url(../image/bxarrows/arrowprev.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .blogwrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .article {
        width: 40%;
        position: relative;
        margin-bottom: 50px;
    }

}

@media  screen  and (max-width: 768px){
    .slider-intro {
        position: absolute;
        top: 7%;
        left: 25%;
        right: 25%;
        text-align: center;
        z-index: 999;
    }
    .slider-intro h2 {
        font-size: 39px;
        font-family: Montserrat ,sans-serif;
        color: white;
        font-weight: bold;
        margin-bottom: 61px;
    }
    .image-topwrap {
        width: 100%;
        height: 560px;
    }
    .searchform-topwrap {
        width: 94%;
        background-color: #ffff;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        position: absolute;
        left: 3%;
        top: -221px;
        border-radius: 2px;
        box-shadow: 0 5px 6px 0 #c0c0c0;
    }
    .searchform-topwrap li {
         display: block;
    }
    .search-top{
        width: 100%;
    }
    .search-top li{
        padding: 0 54px;
    }
    .search-top li:nth-child(2){
        display: inline-block;
        padding-right: 0;
    }
    .search-top li:nth-child(3){
        display: inline-block;
        padding-left: 0;
    }
    .location{
        width: 100%;
        padding: 0 56px;
        margin-bottom: 15px;
    }
    .guest {
        width: 303px;
        height: 49px;
         margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }
    .room {
        width: 306px;
        height: 49px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color:white;
    }
    .search-bottom {
        width: 100%;
        padding: 0 50px;
    }
    .checkin{
        width: 309px;
        margin-right: 0;
    }
    .duration {
        width: 306px;
        height: 49px;
         margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/moon.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #9e9e9e;
        background-color: white;
    }
    .checkout{
        width: 309px;
        margin-right: 0;
    }
    #search {
        width: 274px;
        height: 49px;
        background-image: url(../image/searchbutton.png);
        background-repeat: no-repeat;
        background-position: 70px;
        border: none;
        background-color: #4588f2;
        color: #ffff;
        font-family: Montserrat,sans-serif;
        border-radius: 5px;
        margin-left: 35px;
    }
    .search-bottom li:nth-child(1){
        display: inline-block;
        width: 309px;
    }
    .search-bottom li:nth-child(2){
        display: inline-block;
        padding-bottom: 15px;
        width: 300px;
    }
    .search-bottom li:nth-child(3){
        display: inline-block;
        width: 309px;
     }
    .search-bottom li:nth-child(4){
        display: inline-block;
        width: 300px;
    }
    .sliderwrap div:nth-child(1) {
        width: 68%;
        margin-right: auto;
        margin-left: auto;
    }
    .sliderwrap a:nth-child(2) {
        right: -6%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(1) {
        left: -7%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .apartamentswrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .apartaments {
        width: 100%;
        margin-bottom: 55px;
        position: relative;
    }
    .hoverroom {
        background-color: rgba(0, 0, 0, 0.51);
        width: 100%;
        height: 76%;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 237px;
    }
    .apartaments img {
        width: 100%;
        height: 75%;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 85%;
        top: 71%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
    .peoplewrap {
        position: relative;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .bx-wrapper .bx-prev {
        left: 41%;
        background: url(../image/bxarrows/arrowprev.png);
        background-image: url(../image/bxarrows/arrowprev.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .bx-wrapper .bx-next {
        right: 34%;
        background-image: url(../image/bxarrows/arrownext.png);
        background: url(../image/bxarrows/arrownext.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .blogwrap {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        flex-direction: column;
    }
    .article-hover {
        background-color: rgba(0, 0, 0, 0.36);
        width: 98%;
        height: 363px;
        position: absolute;
        top: 0;
        left: 1%;
        outline: 10px solid #96989a;
        outline-offset: -7px;
        background-image: url("../image/bxarrows/bloghover.png");
        background-repeat: no-repeat;
        background-position: center ;
    }
    .article {
        width: 100%;
        position: relative;
        margin-bottom: 50px;
    }

    .articleimg {
        padding: 0 10px;
        height: 75%;
        margin-bottom: 20px;
        margin-top: 0;
        width: 100%;
    }
    .articleimg img{
        width: 100%;
        height: 363px;
    }

    .our-blogwrap {
        margin-bottom: 150px;
    }
    .patners {
        width: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .patners img {
        padding-top: 67px;
        padding-bottom: 10%;
        padding-right: 50px;
    }
    .newsletter {
        position: relative;
        width: 100%;
    }
    .newsletter input {
        height: 18%;
        width: 55%;
    }
    .singup-form {
        width: 30%;
        position: absolute;
        left: 40%;
        z-index: 99999;
        background-color: rgba(69, 136, 242, 0.81);
        border-radius: 2%;
        padding-bottom: 25px;
        margin-top: 52px;
        display: none;
    }
    /*mobile-menu*/
    .contactwrap{
        display: none;
    }
    .logo-topwrap{
        display: none!important;
    }
    .mobile-menu img{
        float: right;
    }

    .mobile-logo img{
        padding: 5px 10px;
    }
    hr{
        display: none;
    }
    .logo-topwrap{
        width: 100px;
        display: block;
        justify-content: unset;
        width: 135px;
    }
    .mobile-menuwrap{
        height: 100vh;
        width: 100%;
        display: none;
    }
    .mobile-menu{
        margin-top: 20px;

    }
    .mobile-menu ul{
        padding: 0 10px;
    }
    .mobile-menu li{
        padding: 17px 55px;
        color: #2c3e50;
        font-variant: all-small-caps;
        font-family: Montserrat ,sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        border: 1px solid rgba(182, 183, 185, 0.61);
        margin-bottom: 1px;
        text-decoration: none;
        color: #34495e;
    }
    .mobile-menu a{
        text-decoration: none;
        color: #34495e;
    }
    .mobile{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .menubtnshow{
        background: initial;
        border: none;
        background-image: url(../image/mobilemenu.png);
        width: 30px;
        height: 25px;
        position: absolute;
        top: 18px;
        right: 10px;
    }
    .menubtnhide{
        background: initial;
        border: none;
        background-image: url(../image/backarrow.png);
        width: 30px;
        height: 25px;
        position: absolute;
        top: 18px;
        right: 10px;
        display: none;
    }
    .mobile-menuheadwrap{
        display: initial;
    }
    .mobile-menuwrap{
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .image-topwrap {
        display: none;
    }
    .searchform-topwrap {
        width: 100%;
        background-color: #ffff;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 0;
        position: relative;
        left: 0;
        top: 0px;
        border-radius: 2px;
        box-shadow: 0 5px 6px 0 #c0c0c0;
    }
    .search-top li {
        padding: 0px 2px;
    }
    .location {
        width: 100%;
        height: 50px;
        margin-right: 0;
        background-image: url(../image/map.png);
        background-repeat: no-repeat;
        background-position: 20px;
        border: 1px solid #f0f0f0;
    }
    .wrap-top {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .aptop {
        width: 88%;
        margin-bottom: 55px;
        position: relative;
    }
    .guest {
        width: 320px;
        height: 35px;
        margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 85%;
        top: 64%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
        display: none;
    }
    .hoverroomtop ul:nth-child(1) {
        padding-top: 163px;
    }
    .room {
        width: 312px;
        height: 35px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .search-bottom {
        width: 100%;
        padding: 0 2px;
        padding-bottom: 0px;
    }
    .search-bottom li:nth-child(1) {
        display: inline-block;
        width: 320px;
    }
    .checkin {
        width: 320px;
        margin-right: 0;
        height: 35px;
    }
    .search-bottom li:nth-child(3) {
        display: inline-block;
        width: 312px;
        height: 35px;
        margin-bottom: 15px;
    }
    .checkout {
        width: 312px;
        margin-right: 0;
        height: 35px;
    }
    .search-bottom li:nth-child(2) {
        display: none;
    }
    .search-bottom li:nth-child(4) {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
    }
    #search {
        width: 100%;
        height: 35px;
        background-image: url(../image/searchbutton.png);
        background-repeat: no-repeat;
        background-position: 70px;
        border: none;
        background-color: #4588f2;
        color: #ffff;
        font-family: Montserrat,sans-serif;
        border-radius: 5px;
        margin-left: 0;
    }
    .sliderwrap a:nth-child(2) {
        right: -12%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(1) {
        left: -10%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .firstblockwrap {
        margin-top: 150px;
    }
    .hoverroom {
        background-color: rgba(0, 0, 0, 0.51);
        width: 100%;
        height: 71%;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 153px;
    }
    .apartaments img {
        width: 100%;
        height: 71%;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 85%;
        top: 64%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
    .bx-wrapper .bx-next {
        right: 31%;
        background-image: url(../image/bxarrows/arrownext.png);
        background: url(../image/bxarrows/arrownext.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .blogwrap {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        flex-direction: column;
    }
    .newsletter input {
        height: 18.5%;
        width: 55%;
    }
    .singup-form {
        width: 40%;
        position: absolute;
        left: 35%;
        z-index: 99999;
        background-color: rgba(69, 136, 242, 0.81);
        border-radius: 2%;
        padding-bottom: 25px;
        margin-top: 52px;
        display: none;
    }
}
@media screen and (max-width: 425px){
    .title h3 {
        font-size: 48px;
        font-family: Montserrat,sans-serif;
        font-weight: bolder;
        color: #dcdcdc61;
    }
    .arrowback {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 42px;
        right: 11px;
        background-color: rgba(212, 212, 212, 0.31);
        border-radius: 50%;
        background-image: url(../image/backarrowtop.png);
        background-repeat: no-repeat;
        background-position: 4px -1px;
        text-align: center;
        z-index: 9999;
        display: none;
    }
    .arrowback button {
        background-color: initial;
        border: none;
        width: 100%;
        height: 100%;
        color: rgb(0, 196, 255);
        line-height: 51px;
        font-weight: bold;
        font-size: 14px;
    }
    .hoverroomtop ul:nth-child(1) {
        padding-top: 110px;
    }
    .hoveradresstop{
        font-size: 13px;
    }
    .title h4 {
        font-size: 25px;
        font-family: Montserrat,sans-serif;
        margin-top: -25px;
        font-weight: bold;
    }
    .image-topwrap a {
        position: absolute !important;
        top: 45% !important;
    }
    .slider-intro h3 {
        font-size: 30px;
        font-family: Montserrat ,sans-serif;
        color: white;
        margin-bottom: 40px;
    }
    .slider-intro h2 {
        font-size: 36px;
        font-family: Montserrat ,sans-serif;
        color: white;
        font-weight: bold;
        margin-bottom: 23px;
    }
    .sitecontainer {
        max-width: 1721px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
    .apartaments {
        width: 100%;
        margin-bottom: 55px;
        position: relative;
    }
    .reset button{
        width: 152px;
        height: 50px;
        background-color: #4588f2;
        border: none;
        border-radius: 2px;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        letter-spacing: 5px;
        text-align: center;
        padding-left: 17px;
        margin-top: 30px;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 127px;
    }
    .hoverroom {
        background-color: rgba(0, 0, 0, 0.51);
        width: 100%;
        height: 69%;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 81%;
        top: 62%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
    .apartaments img {
        width: 100%;
        height: 69%;
    }
    .sliderwrap a:nth-child(1) {
        left: -11%;
        background-image: url(../image/arrowleft.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .sliderwrap a:nth-child(2) {
        right: -14%;
        background-image: url(../image/arrowright.png);
        background-size: 45px 45px;
        display: block;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 50%;
        width: 70px!important;
        height: 70px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    .bx-wrapper .bx-next {
        right: 27%;
        background-image: url(../image/bxarrows/arrownext.png);
        background: url(../image/bxarrows/arrownext.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .bx-wrapper .bx-prev {
        left: 39%;
        background: url(../image/bxarrows/arrowprev.png);
        background-image: url(../image/bxarrows/arrowprev.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .articleimg img {
        width: 100%;
        height: 326px;
    }
    .article-hover {
        background-color: rgba(0, 0, 0, 0.36);
        width: 98%;
        height: 332px;
        position: absolute;
        top: 0;
        left: 1%;
        outline: 10px solid #96989a;
        outline-offset: -7px;
        background-image: url(../image/bxarrows/bloghover.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .blogwrap {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        flex-direction: column;
    }
    .articleimg {
        padding: 0 10px;
        height: 67%;
        margin-bottom: 20px;
        margin-top: 0;
        width: 100%;
    }
    .contact{
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .newsletter{
        margin-top: 25px;
    }
    .searchform-topwrap {
        width: 100%;
        background-color: #ffff;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 0;
        position: relative;
        left: 0;
        top: 0px;
        border-radius: 2px;
        box-shadow: 0 5px 6px 0 #c0c0c0;
    }
    .image-topwrap{
        display: none;
    }
    .search-top li {
        padding: 0px 2px;
    }
    .location {
        width: 100%;
        height: 35px;
        margin-right: 0;
        background-image: url(../image/map.png);
        background-repeat: no-repeat;
        background-position: 20px;
        border: 1px solid #f0f0f0;
    }
    .searchform-topwrap p {
        color: #2c3e50;
        font-family: Montserrat,sans-serif;
        font-size: 12px;
        margin-bottom: 8px;
        font-weight: bold;
    }
    .guest {
        width: 200px;
        height: 35px;
        margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .room {
        width: 216px;
        height: 35px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .search-bottom {
        width: 100%;
        padding: 0 2px;
    }
    .search-bottom li:nth-child(1) {
        display: inline-block;
        width: 200px;
    }
    .checkin {
        width: 200px;
        margin-right: 0;
        height: 35px;
    }
    .search-bottom li:nth-child(2){
        display: none;
    }

    .search-bottom li:nth-child(3) {
        display: inline-block;
        width: 200px;
        height: 35px;
        margin-bottom: 15px;
    }
    .checkout {
        width: 200px;
        margin-right: 0;
        height: 35px;
    }
        #search {
            width: 100%;
            height: 35px;
            background-image: url(../image/searchbutton.png);
            background-repeat: no-repeat;
            background-position: 70px;
            border: none;
            background-color: #4588f2;
            color: #ffff;
            font-family: Montserrat,sans-serif;
            border-radius: 5px;
            margin-left: 0;
        }
    .search-bottom li:nth-child(4) {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
    }
    .firstblockwrap {
        margin-top: 50px;
    }
    .second{
        display: block;
    }
    .city-name {
        width: 100%;
        height: 15%;
        position: absolute;
        top: 61%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgb(0, 0, 0));
        text-align: center;
        color: white;
        font-family: Montserrat,sans-serif;
        line-height: 60px;
    }
    .slide img {
        width: 100%;
        height: 76%;
    }
    .slide {
        margin: 0 8px;
        overflow: hidden;
        position: relative;
        width: 321px;
        height: 333px;
    }
    .singup-form {
        width: 57%;
        position: absolute;
        left: 25%;
        z-index: 99999;
        background-color: rgba(69, 136, 242, 0.81);
        border-radius: 2%;
        padding-bottom: 25px;
        margin-top: 52px;
        display: none;
    }
}
@media screen and (max-width: 360px){
    .guest {
        width: 180px;
        height: 35px;
        margin-right: 0;
        border: 1px solid #f0f0f0;
        background-image: url(../image/people.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .room {
        width: 171px;
        height: 35px;
        border: 1px solid #f0f0f0;
        background-image: url(../image/roo.png);
        background-repeat: no-repeat;
        background-position: 8px;
        color: #9e9e9e;
        background-color: white;
    }
    .search-bottom li:nth-child(1) {
        display: inline-block;
        width: 174px;
    }
    .checkin {
        width: 176px;
        margin-right: 0;
        height: 35px;
    }
    .search-bottom li:nth-child(3) {
        display: inline-block;
        width: 176px;
        height: 35px;
        margin-bottom: 15px;
    }
    .checkout {
        width: 176px;
        margin-right: 0;
        height: 35px;
    }
    .title h3 {
        font-size: 48px;
        font-family: Montserrat,sans-serif;
        font-weight: bolder;
        color: #dcdcdc;
        opacity: 0.4;
    }
    .hoverroom {
        background-color: rgba(0, 0, 0, 0.51);
        width: 100%;
        height: 65%;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    .hoverroom ul:nth-child(1) {
        padding-top: 83px;
    }
    .like {
        width: 50px;
        height: 50px;
        background-color: #dde6f2;
        position: absolute;
        left: 81%;
        top: 57%;
        border-radius: 50px;
        background-image: url(../image/likeheart.png);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 20px;
        z-index: 99999;
    }
    .apartaments img {
        width: 100%;
        height: 65%;
    }
    .title button {
        margin-top: 50px;
        margin-bottom: 0px;
        background-color: initial;
        width: 150px;
        height: 49px;
        color: #2c3e50;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }
    .slidercount {
        position: absolute;
        left: 48.5%;
        top: 120%;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: #9e9e9e;
        font-weight: bold;
    }
    .bx-wrapper .bx-next {
        right: 25%;
        background-image: url(../image/bxarrows/arrownext.png);
        background: url(../image/bxarrows/arrownext.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .articleimg {
        padding: 0 10px;
        height: 0;
        margin-bottom: 20px;
        margin-top: 0;
        width: 100%;
    }
    .article-text{
        margin-top: 100%;
    }
    .singup-form {
        width: 64%;
        position: absolute;
        left: 19%;
        z-index: 99999;
        background-color: rgba(69, 136, 242, 0.81);
        border-radius: 2%;
        padding-bottom: 25px;
        margin-top: 52px;
        display: none;
    }
    .singup-form h4 {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        font-family: Montserrat, sans-serif;
        padding: 14px 0;
    }

}
